* {font-family: 'Francois One', sans-serif;}
html, body{height:100%;}
header {background-color:#1380c4; min-height:70px; box-shadow:#999 2px 2px;}
.main {width:100%; height:100%; display:block; position: absolute; top: 0; padding-top: 70px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
.main > div {height:100%; padding:0;}
.map {position:relative; overflow:hidden;}
#mapa {height: 100%; width: 100%;margin:0; padding:0;}
#barra{background:#13aa7a;}
.infoBox { background-color: #FFF; width: 300px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; border: 2px solid #3fa7d8; border-radius: 3px; margin-top: 10px }
.infoBox p { padding: 0 15px }
.infoBox:before { border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #3fa7d8; top: -10px; content: ""; height: 0; position: absolute; width: 0; left: 138px }
.menu li{ padding:15px 15px 5px;}
.navbar-default .navbar-nav > li > a {font-size:1.6em; color:#FFF; cursor:pointer; padding:0; }
.navbar-default .navbar-nav > li > a:hover {color:#e3f4ff;} 
.acoes_menu li{ padding:8px 5px 5px;}
.navbar-brand {padding:0 0 0 5px;}
.navbar-default{background:#96c13d; border:none; box-shadow:none; min-height:62px;}